@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: theme('colors.background');
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: theme('colors.frame');
  width: 80%;
}

.main-page {
  background: theme('colors.frame')
}

.login-component {
  background: theme('colors.frame');
  margin-top: 10rem;
}

.button {
  background: theme('colors.content');
}